
.App {
  /*text-align: center;*/

}

#demo {
  background: #282c34;
  height: 100vh;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  margin-left: 25px;
  margin-top: 100px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282c34;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav option,input,select,p{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #818181;
  display: block;
  width: 150px;
}

.sidenav select,input:hover {
  color: darkgrey;
}
label{
  color: darkgrey;
}
/*.main{
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}*/


::placeholder {
  color: darkgrey;
  font-size: 10px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
